[submodule "externals/cereal"]
	path = externals/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/philsquared/catch.git
