[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/philsquared/catch.git
[submodule "externals/variant"]
	path = externals/variant
	url = https://github.com/eggs-cpp/variant.git
