output/*
*.pyc
.*.swp
tests/bin
tests/build
sandbox/CircleTest
sandbox/Shape_c.h 
sandbox/*.o 
sandbox/*.dylib
demos/.ipynb_checkpoints/
demos/CMakeCache.txt
demos/CMakeFiles/
demos/CMakeLists.txt
demos/LLVM-Cauldron.slides.html
demos/Makefile
demos/Shape.h
demos/Shape.json
demos/Shape.py
demos/Shape.rb
demos/Shape_c.cpp
demos/Shape_c.h
demos/Shape_cpp.h
demos/Shape_mocks.h
demos/cmake_install.cmake
demos/libShape_c.dylib
build
