[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/philsquared/catch.git
[submodule "externals/variant"]
	path = externals/variant
	url = https://github.com/eggs-cpp/variant.git
[submodule "externals/catch2"]
	path = externals/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "externals/ffig-jars"]
	path = externals/ffig-jars
	url = https://github.com/FFIG/ffig-jars.git
