{%- import 'ffig.macros' as ffig_macros -%}

{#
 # method_parameters:
 #   Generates a list of parameter types and names suitable for use in a
 #   function declaration or definition. Commas are inserted between each
 #   element of the list. Leading and trailing commas can be added by setting
 #   leading_comma or trailing_comma to True as appropriate. This is useful
 #   if there are other parameters that must be declared.
 #}
{%- macro method_parameters(method, leading_comma=False, trailing_comma=False) -%}
    {%- call(arg) ffig_macros.comma_separated_list(method.arguments, leading_comma, trailing_comma) -%}
        {{arg | to_dotnet_param}}
    {%- endcall -%}
{%- endmacro -%}

{#
 # method_c_parameters:
 #   Generates a list of parameter types and names suitable for use in a C
 #   function declaration or definition. Commas are inserted between each
 #   element of the list. Leading and trailing commas can be added by setting
 #   leading_comma or trailing_comma to True as appropriate. This is useful
 #   if there are other parameters that must be declared.
 #}
{%- macro method_c_parameters(method, leading_comma=False, trailing_comma=False) -%}
    {%- call(arg) ffig_macros.comma_separated_list(method.arguments, leading_comma, trailing_comma) -%}
        {{arg | to_dotnet_c_param}}
    {%- endcall -%}
{%- endmacro -%}

{#
 # method_arguments:
 #   Generates a list of argument names suitable for use in a
 #   function call.  Commas are inserted between each element of the list.
 #   Leading and trailing commas can be added by setting leading_comma or
 #   trailing_comma to True as appropriate. This is useful if there are other
 #   parameters that must be declared.
 #}
{%- macro method_arguments(method, leading_comma=False, trailing_comma=False) -%}
    {%- call(arg) ffig_macros.comma_separated_list(method.arguments, leading_comma, trailing_comma) -%}
        {{arg | dotnet_to_c_arg}}
    {%- endcall -%}
{%- endmacro -%}

// This code was generated by FFIG <http://ffig.org>.
// Manual edits will be lost.
using System;
using System.Runtime.InteropServices;

namespace {{module.name}}_c {

  public class Exception : System.Exception {

    [DllImport("lib{{module.name}}_c")]
    private static extern void {{module.name}}_clear_error();

    [DllImport("lib{{module.name}}_c")]
    private static extern IntPtr {{module.name}}_error();

    public Exception() : base(Marshal.PtrToStringAnsi({{module.name}}_error())) {
      {{module.name}}_clear_error();
    }
  }
{% for class in classes %}
  public class {{class.name}} {

    [DllImport("lib{{module.name}}_c")]
    private static extern int {{module.name}}_{{class.name}}_dispose(IntPtr c_obj);
  {% for method in class.constructors %}
    [DllImport("lib{{module.name}}_c")]
    private static extern int {{module.name}}_{{class.name}}_create({{method_c_parameters(method, trailing_comma=True)}}out IntPtr ptr);
  {% endfor %}
  {%- for method in class.methods %}
    {% if not method.returns_void -%}
    [DllImport("lib{{module.name}}_c")]
    private static extern int {{module.name}}_{{class.name}}_{{method.name}}(IntPtr c_obj, {{method_c_parameters(method, trailing_comma=True)}}out {{method.return_type|to_dotnet_output_param}} rv);
    {%- else -%}
    [DllImport("lib{{module.name}}_c")]
    private static extern int {{module.name}}_{{class.name}}_{{method.name}}(IntPtr c_obj, {{method_c_parameters(method)}});
    {%- endif %}
  {% endfor %}
    protected IntPtr c_obj_;
  {% if not class.is_abstract -%}
  {% for method in class.constructors %}
    public {{class.name}}({{method_parameters(method)}}) {
      int rc = {{module.name}}_{{class.name}}_create({{method_arguments(method, trailing_comma=True)}}out c_obj_);
      if(rc != 0) {
        throw new {{module.name}}_c.Exception();
      }
    }
  {% endfor -%}
  {% endif %}
    protected {{class.name}}() {
    }

    protected {{class.name}}(IntPtr c_obj) {
      c_obj_ = c_obj;
    }
    
    ~{{class.name}}() {
      {{module.name}}_{{class.name}}_dispose(c_obj_);
    }
  {% for method in class.methods %}
    {% if not method.returns_void -%}
    public {{method.return_type|to_dotnet_return_type}} {{method.name}}({{method_parameters(method)}}) {
      {{method.return_type|to_dotnet_output_value("rv")}};
      int rc = {{module.name}}_{{class.name}}_{{method.name}}(c_obj_, {{method_arguments(method, trailing_comma=True)}}out rv);
      if(rc != 0) {
        throw new {{module.name}}_c.Exception();
      }
      {% if method.returns_nullable %}if(rv == IntPtr.Zero) { 
        return null; 
      }
      {% endif -%}
      return {{method.return_type|to_dotnet_return_value("rv")}};
    }
    {%- else -%}
    public void {{method.name}}({{method_parameters(method)}}) {
      int rc = {{module.name}}_{{class.name}}_{{method.name}}(c_obj_, {{method_arguments(method)}});
      if(rc != 0) {
        throw new {{module.name}}_c.Exception();
      }
    }
    {%- endif %}
  {% endfor -%}
  }
  {% for impl in class.impls %}
  public class {{impl.name}} : {{module.name}}_c.{{class.name}} {
    {% for method in impl.constructors %}
    [DllImport("lib{{module.name}}_c")]
    private static extern int {{module.name}}_{{impl.name}}_create({{method_c_parameters(method, trailing_comma=True)}}out IntPtr ptr);

    public {{impl.name}}({{method_parameters(method)}}) {
      int rc = {{module.name}}_{{impl.name}}_create({{method_arguments(method, trailing_comma=True)}}out c_obj_);
      if(rc != 0) {
        throw new {{module.name}}_c.Exception();
      }
    }
  {%- endfor %}
  }
  {% endfor %}
{%- endfor %}
}

