#include "{{class.name}}_c.h"
{% load c_filter %} {% load c_casts_filter %}
namespace CPP_API {

class {{class.name}}
{
  const void* object_;

protected:
  {{class.name}}(const void* o) : object_(o) {}

public:
  virtual ~{{class.name}}()
  {
    {{class.name}}_dispose(object_);
  }
{% for function in class.functions %}  
  {{function.return_type|to_c}} {{function.name}}({% for arg in function.arguments %}{%if not forloop.first %}, {% endif %}{{arg.type|to_c}} {{arg.name}}{% endfor %}) const
  {
    return {{class.name}}_{{function.name}}(object_{% if function.arguments %},{% endif %}{% for arg in function.arguments %}, {{arg.name}}{% endfor %});
  } 
{%endfor%}
};
{% for impl in impl_classes %}
class {{impl.name}} : public {{class.name}}
{
public:
  {% for function in impl.constructors %}{{impl.name}}({% for arg in function.arguments %}{% if not forloop.first %}, {% endif %}{{arg.type|to_c}} {{arg.name}}{% endfor %}) : {{class.name}}({{class.name}}_{{impl.name}}_create({% for arg in function.arguments %}{% if not forloop.first %}, {% endif %}{{arg.name}}{% endfor %})){}{% endfor %}
};
{% endfor %}
} // end namespace CPP_API
