#include "{{class.name}}_c.h"
#include <exception>
#include <experimental/optional>
{% load capi_filter %}
namespace mocks {

struct {{class.name}}
{
  struct MockMethodResultNotSpecified : std::logic_error
  {
    using std::logic_error::logic_error ;
  };

  struct MockMethodResult
  {
    template <typename Value, typename ...Args>
    auto operator()(const Value& v, Args&& ...args) const
    {
      if(v) return *v;
      throw MockMethodResultNotSpecified("{{method.name}}");
    }
  };

{% for method in class.methods %}  
  std::experimental::optional<{{method.return_type}}> {{method.name}}_;
{%endfor%}
  {{class.name}}() = default;

{% for method in class.methods %}  
  {{method.return_type}} {{method.name}}({% for arg in method.arguments %}{%if not forloop.first %}, {% endif %}{{arg.type}} {{arg.name}}{% endfor %}) const
  {
    return MockMethodResult()({{method.name}}_);
  } 
{%endfor%}
};
} // end namespace mocks
