#import <Foundation/Foundation.h>
{% load objc_filter %}
@interface {{class.name}} : NSObject

- (id)init;

- (void)dealloc;
{% for method in class.methods %}
- ({{method.return_type|to_objc}}){{method.name}}{% if method.arguments %}:{% endif %}{%for arg in method.arguments %}({{arg.type|to_objc}}){{arg.name}}{% if not forloop.last %} {% endif %}{% endfor %};
{% endfor %}
@end

{% for impl in impl_classes %}
@interface {{impl.name}} : {{class.name}}
{% for method in impl.constructors %} 
- (id)initWith{% for arg in method.arguments %}{{arg.name|title}}{% endfor %}:{%for arg in method.arguments %}({{arg.type|to_objc}}){{arg.name}}{% if not forloop.last %} {% endif %}{% endfor %}; 
{% endfor %}
@end
{% endfor %}
